.page__content {
	margin-top: 56px;
	margin-bottom: 92px;
}

@media screen and (max-width: 1120px) {
	.page__content {
		margin-top: 48px;
	}
}

@media screen and (max-width: 920px) {
	.page__content {
		margin-bottom: 88px;
	}
}

@media screen and (max-width: 740px) {
	.page__content {
		margin-bottom: 64px;
	}
}