.content {
	display: grid;
	grid-row-gap: 92px;
}

@media screen and (max-width: 920px) {
	.content {
		grid-row-gap: 88px;
	}
}

@media screen and (max-width: 740px) {
	.content {
		grid-row-gap: 64px;
	}
}